.Analysis {
  text-align: center;
}

.Analysis-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  /* color: white; */
  color: black;
}

.Form {
  min-width: 10000;
  margin: 1000;
}

.Select {
  min-width: 10000;
}
